#tic-tac-toe-board {
    display: block;
    margin: 0 auto;
  }
  
  .canvas-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
  
  .canvas-wrapper-parent {
    transform-style: preserver-3d;
  }

  .btn-reset{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 800px 855px;
    cursor: pointer;
    border-radius: 4px;
  }